@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* underline for all anchor tags when hover */
.footer-right-text,
li a,
a {
  position: relative;
  text-decoration: none;
  /* color: #000; */
}

.footer-right-text ::before,
li a::before,
a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: -3px;
  left: 0;
  transition: width 0.5s ease-in-out;
}
.active {
  color: #ffa500;
}

.footer-right-text ::before,
li a::before {
  background-color: #fff;
}

.footer-right-text :hover:before,
a:hover::before {
  cursor: pointer;
  width: 100%;
}

.imageWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0rem;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 100%;
  height: 30rem;
  cursor: pointer;
  transition: transform 0.3s, border-bottom 0.3s;
}
.image-container:hover {
  border-bottom: 0.3rem solid #ffa500;
  transform: translateY(-3rem);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: white;
}

.horizontal-line {
  border-top: 0.5px solid gainsboro;
  margin: 1rem 0;
}

.readMore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

/* feature details  css */

.features-details-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin: 0 auto;
  padding: 0rem 6rem;
  margin: 6rem 0;
}

.featureDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .imageWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .imageWrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  /* mobile style for details container */
  .features-details-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 3rem;
    gap: 3rem;
    margin: 1rem;
  }
  .image-container:hover {
    border-bottom: 0rem;
    transform: translateY(0rem);
  }
}
